.fundo{
    position: absolute;
    top: 0;
    left: 0;
    /*height: 100%;*/
    width: 100%;
    background-image: url("../static/edificio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


form{
    background-color: aliceblue;
    padding: 50px;
    border-radius: 25px;
}

.icon-margin{
    margin-top: 100px;
    margin-bottom: 50px;
}

.margin-box{
    margin-bottom: 100px;
}

#formSection{
    margin-top: 100px;
}