<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UMA - Platform</title>
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="container-fluid fundo">
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar">
                    <div class="container">
                        <div class="col-lg-12 text-center">
                            <img width="20%" src="../static/uma.gif">
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        <div class="container" id="formSection" style="background-color: aliceblue;border-radius: 25px;margin-bottom: 50px;">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 style="margin-top: 20px;">
                        Book a Room
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                </div>
                <div class="col-lg-8">
                     <form>
                         <div class="form-group">
                             <label for="room">Room:</label>
                             <select name="room" class="form-control" id="room">
                                 <option value="volvo">Volvo</option>
                                 <option value="saab">Saab</option>
                                 <option value="opel">Opel</option>
                                 <option value="audi">Audi</option>
                             </select>
                         </div>
                         <div class="form-group">
                             <label for="startTime">Start Time:</label>
                             <select name="startTime" class="form-control" id="startTime">
                                 <option value="volvo">Volvo</option>
                                 <option value="saab">Saab</option>
                                 <option value="opel">Opel</option>
                                 <option value="audi">Audi</option>
                             </select>
                             <label for="endTime">End Time:</label>
                             <select name="endTime" class="form-control" id="endTime">
                                 <option value="volvo">Volvo</option>
                                 <option value="saab">Saab</option>
                                 <option value="opel">Opel</option>
                                 <option value="audi">Audi</option>
                             </select>
                         </div>
                         <div class="form-group">
                             <label for="day">Day:</label>
                             <select name="day" class="form-control" id="day">
                                 <option value="volvo">Volvo</option>
                                 <option value="saab">Saab</option>
                                 <option value="opel">Opel</option>
                                 <option value="audi">Audi</option>
                             </select>
                             <label for="mouth">Mouth:</label>
                             <select name="mouth" class="form-control" id="mouth">
                                 <option value="volvo">Volvo</option>
                                 <option value="saab">Saab</option>
                                 <option value="opel">Opel</option>
                                 <option value="audi">Audi</option>
                             </select>
                             <label for="year">Year:</label>
                             <select name="year" class="form-control" id="year">
                                 <option value="volvo">Volvo</option>
                                 <option value="saab">Saab</option>
                                 <option value="opel">Opel</option>
                                 <option value="audi">Audi</option>
                             </select>
                         </div>
                         <button type="submit" class="btn btn-primary">Book Room</button>
                     </form>
                </div>
                <div class="col-lg-2">
                </div>
            </div>
        </div>
    </div>
</body>
</html>